*{
    color: #03045e;
    color: #023E8A;
    color: #0077B6;
    color: #0096C7;
    color: #00B4D8;
    color: #48CAE4;
    color: #90E0EF;
    color: #ADE8F4;
    color: #CAF0F8;
    color: rgb(22, 22, 69);

}
