





*{
    padding:0px ;
    margin:0px;
    box-sizing:border-box;

}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(50, 48, 48);
    background-color: rgb(255, 255, 255);
    text-rendering: optimizeLegibility;

}


header{
    background-image:url("../img/Self=study.png") ;
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
}

.logo{
    width: 550px;
    float: left;
    margin-left: 70px;
    margin-top: 50px;
}
.main-nav li a{
    text-decoration: none;
    color: #00004d;
    font-size: 150%;
    font-weight: 600 ;
    transition: border-bottom 0.5s;
    padding: 3px 0 ;
}
.main-nav li{
    display: inline-block;
    margin-right: 60px;

}


.main-nav{
    float: right;
    list-style: none;
    margin-right: 60px;
    margin-top: 90px;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 3px solid #002366;
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.row{
    width: 1140px;
    margin: 0 auto;
}

.heading-main-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-65%,-50%);
    width: 1140px;

}
h1,h2{
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1{

    font-size: 300%;
    font-weight: 500;
    word-spacing: 10px;
    color: rgb(22, 22, 69);
    list-style: 10px;
    margin-bottom: 50px;
}
h2{
    color:#002366;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}
h2::after{
    content:" ";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #1d1d85;
    margin: 0 auto;
    margin-top: 5px;
}
.p-long{
    text-align: center;
    color: #002366;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    margin-left: 10% ;
    line-height: 140%;
}
section{
    padding: 50px;
}
.about-picture{
    position: relative;

}
.about-picture img{
    width: 50%;
   text-align: center;
    border-radius: 20px;
    border: 4px solid #151594;
    box-shadow: 0px 5px 15px 5px #002366;
    filter: brightness(95%) blur(2px);
    transition: all .5s;

}
.picture-title{
    position: absolute;
    top:50%;
    left:50%;
    color: #060863;
    transform: translate(-320px,5px);
    opacity: 0;
    transition: all.5s ;
}
.about-picture:hover img,
.about-picture:active img{
    filter: brightness(70%) blur(2px);
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-320px,-30px);
    opacity: 1;
}


.btn{
    text-decoration: none;
    color: rgb(29, 34, 39)9, 34);
    background-color: #caf0f8 ;
    padding: 15px 30px;
    border-radius:20px;
    margin:0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    trasition: all.3s;

}

.information{
    margin-top: 70px;
    word-spacing: 1px;
    line-height: 200%;
    list-style: none;
    font-size: 95%;

}
footer{
    text-align: center;

}
.information.small-icon{
    color: #002366;
}

form{
    margin-left: 50%;
    width: 20%;
    padding: 90px;
    
}
label{
    font-size: 120%;
}

textarea{
    height: 100px;
}
input{
    height: 30px;

}





